<div class=container>
	<%= simple_form_for @movie do |form| %>

		<%= form.input :title, required: true %>

		<%= form.input :language, required: true %>

		<%=form.input :release_date, as: :date, html5: true, required: true %>

	 	<%= form.input :collection, :input_html => { :type => "number" }, required: true %>

	 	<%= form.input :budget, :input_html => { :type => "number" }, required: true %>

	 	<%= form.input :poster, as: :file %>

		<% if @movie.poster.attached? %>
			<%= image_tag @movie.poster, class: "img-responsive", width: 100, height: 150 %>
		<% end %>

		<%= form.submit %>
	<% end %>
</div>