<br><br>
<%= form_for @movie do |form| %>
  <div align=left>
	  <div class=row style='padding: 20px;'>
	  	<div class=col-sm-2>
				<%= form.label(:title) %>
			</div>
			<%= form.text_field :title %>
		</div>
		
		<div class=row style='padding: 20px;'>
		  <div class=col-sm-2>
				<%= form.label(:language) %>
			</div>
			<%= form.text_field :language %>
	  </div>

	  <div class=row style='padding: 20px;'>	
	  	<div class=col-sm-2>
	  		<%= form.label(:release_date) %>
			</div>
				<%=form.text_field :release_date %>
	  </div>

	  <div class=row style='padding: 20px;'>
	  	<div class=col-sm-2>
				<%= form.label(:collection) %>
			</div>
			<%= form.text_field :collection %>
	  </div>
	  
	  <div class=row style='padding: 20px;'>
	  	<div class=col-sm-2>
				<%= form.label(:budget) %>
			</div>
			<%= form.text_field :budget %>
		</div>
		
	  <div class=row style='padding: 20px;'>
	  	<div class=col-sm-2>
	  		<%= form.label(:poster) %>
			</div>
			<%= form.file_field :poster %>
		</div>
	</div>
	<br><br><div class=row><div class=col-sm-1><%= %></div><%= form.submit %></div>
<% end %>