<h1>Movie#index</h1>
<br>
<div class=table-hover>
	<table style='max-width:1200px;' class=table border=2>
		<tr>
			<th style="width: 10%">Sr No.</th>
			<th style="width: 50%">MOVIES</th>
			<th style="width: 40%">&nbsp;&nbsp;Release date</th>
		</tr>

	<% @movies.order(release_date: :desc).each_with_index do |movie, index| %>
	  <tr class=success>
	  	<td><br><%= index+1 %></td>
			<td>
				<% if movie.poster.attached? %>
					<%= image_tag movie.poster, class: "img-responsive", width: 60, height: 80 %>
				<% else %>
			    <%= image_tag ('default.jpg'), class: "img-responsive", width: 60, height: 80 %>
				<% end %> &emsp;&emsp;
				<%= link_to movie.title, movie_url(movie) %>
			</td>
			<td><br><%= movie.release_date.strftime('%d  %B  %Y') %></td>
		</tr>
	<% end %>
	</table>
</div>
<br><br><br>
<%= link_to '<button type="button" class="btn-success">New Movie</button>'.html_safe, new_movie_url%>