<%= form_for @tv do |form| %>
  <div align=left>
	  <div class=row style='padding: 20px;'>
		<div class=col-sm-2>
				<%= form.label(:title) %>
			</div>
			<%= form.text_field :title %>
		</div>
		
		<div class=row style='padding: 20px;'>
		  <div class=col-sm-2>
				<%= form.label(:language) %>
			</div>
			<%= form.text_field :language %>
	  </div>

	  <div class=row style='padding: 20px;'>	
		<div class=col-sm-2>
			<%= form.label(:premier_date) %>
			</div>
				<%=form.text_field :premire_date %>
	  </div>

	</div><div class=row style='padding-left: 20px;'><div class=col-sm-1><%= %></div><%= form.submit%></div>
<% end %>